<h1>Login to PC Builder!</h1>
<%if flash[:error] %>
<h4>ERROR!</h4>
<li>
    <ul><%=flash[:error]%></ul>
</li>
<%end %>

<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">

  <input class="btn btn-primary" type="submit" value="Submit">
</form>
