<% @builds.each do |build| %>
  <a href="/systems/<%=build.id %>"><%= build.name %></a><br />
  <%= build.price %><br />



<%if session[:user_id] == build.user_id  %>
  <a href="/builds/<%=build.id %>/edit">Edit</a>
  <br />
  <%end %>

<% end  %>
