<h1>Add a New Build</h1>

<form action="/builds" method="POST">
  <label> Build Name </label>
  <input type="text" name="name"> </br>

  <label> Build Price </label>
  <input type="number" name="price"> </br>

  <input type="submit" value="Create">
</form>
