<div class="row">

    <h2>PC Builder Signup Page</h2>
    <h3>Create a username and password</h3>

    <%if !@user.valid? && @user.errors.any?%>
    <h4>ERROR!</h4>
    <%@user.errors.full_messages.uniq.each do |msg|%>

    <li>
        <ul><%=msg%>
    </ul>
</li>
<%end%>
<%end%>
<div class="col s6">


<form action="/signup" method="POST">
    <p>Username:
        <input type="text" name="username" id="username"></p>
    <p>Password:
        <input type="password" name="password" id="password"></p>
    <input class="btn btn-primary indigo accent-2" type="submit" value="Sign Up">
</form>
</div>

</div>
