<h2>PC Builder Signup Page</h2>
<h3>Create a username and password</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
